html{
  scroll-behavior: smooth;
}
body{
    background-color: #ececec;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  width: 100%
}


.navbar {
    overflow: hidden;
    background-color: #912D62;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: inline-block;
    color: #FFFFFF;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .navbar a:hover {
    background: #521937;
    color: #FFB4DC;
    transition: 0.8s;
  }

 .active {
    background: #521937;
  }

